p {
    color: blue;
    background-color: rgb(240,240,240);
    /*font: italic bold 20px Times*/
}
div p {
    background-color: red;
}
a:hover {
    text-decoration: underline;
}
div p::first-line {
    color: white;
    font-size: 16pt;
}