@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
body {
  color: darkslategrey;
  font-family: arial, sans-serif;
  font-size: 17px;
}
.text-center {
  text-align: center;
}

h1 {
  font-family: Audiowide, cursive;
  font-size:30px;
}
h2 {
  font-size:24px;
  background-color: lightskyblue;
  border-radius:5px;
}

h1, h2, a, a:visited {
  color: darkblue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1 a, h1 a:visited {
  color: white;
}
h2 a, h2 a:visited {
  color: lightskyblue;
}
h1:hover a, h2:hover a {
  color: darkblue;
}

#copyright {
  font-weight: bold;
  font-style: italic;
}
span.icon {
  font-size: 1rem;
  line-height: 1.5rem;
}
a.btn {
  font-size:1.3rem;
}
a.btn:hover {
  color:white;
  background-color:darkblue;
  text-decoration:none;
}

div#social{
  color:white;
  font-size:2rem;
}
.color-navy{
  color:navy;
}
.color-dodgerblue{
  color:dodgerblue;
}

@media print {
  body, h1 {
    color:black;
    font-family:Times, serif;
  }
  #elon {
    text-align:left;
  }
  h2 {
    background:unset;
  }
  .topo {
    color:white;
  }
}